body {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 1920px;

}

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    z-index: 1;
}

    .spinner-img-cont {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

        .spinner__img {
            width: 20%;
            height: 30%;
        }

.product-block {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .item-product {
        position: relative;
        width: 20%;
        height: 385px;
        padding: 2%;
    }

        .img-block {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 35%;
            overflow: hidden;
            background: black;
            outline: 1px solid black;
        }

        .info-block {
            position: relative;
            width: 100%;
            height: 65%;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            background: #EEEEEE;;
        }

            .info-block__title,
            .info-block__cost {
                font-family: Chalkboard;
                font-size: 2vw;
                color: black;
            }

            .info-block__description {
                text-align: center;
                font-family: Chalkboard;
                font-size: 1.2vw;
                color: lightslategray;
            }

.load-more-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .load-more-block__button {
        width: 15%;
        border: 0;
        cursor: pointer;
        background: white;
        color: darkgray;
        font-size: 20px;
    }

    .load-more-block__button:focus {
        border: none;
        outline: none;
        color: darksalmon;
    }

@media (max-width: 1920px) {
    .item-product {
        width: 20%;
    }

    .item-product:nth-child(4) {
        padding-right: 0;
    }
}

@media (max-width: 920px) {
    .item-product {
        width: 30%;
        height: 400px;
    }
}

@media (max-width: 720px) {
    .item-product {
        width: 40%;
        height: 500px;
    }
}

@media (max-width: 480px) {
    .item-product {
        width: 80%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .info-block__title,
    .info-block__cost {
        font-size: 5vw;
    }

    .info-block__description {
        font-size: 3.2vw;
    }
}